<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto"> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menú</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="navegarAFormulario()">Registro de Equipo</a>
              <a class="dropdown-item" (click)="exportarExcel()">Exportar</a>
              <a class="dropdown-item" (click)="cambiarTema()">Tema Claro/Oscuro</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
            </div>
        </li>
      </ul>
      <div class="mx-auto"> 
        <a class="navbar-brand">Equipos registrados</a>
      </div>
      <div class="d-flex">
        <input type="text" class="form-control me-sm-2" placeholder="Buscar equipo..." [(ngModel)]="textoBusqueda">
        <button class="btn btn-sm btn-outline-info" (click)="buscarEquipo()">Buscar</button>
      </div> 
    </div>                      
  </div>
</nav>
<p></p>

<div class="row justify-content-center">
  <div class="col-md-7">
    <form>
      <div class="row">
        <div class="col-md-2">
          <label for="filtroFechaInicio" class="form-label">Fecha de inicio:</label>
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" id="filtroFechaInicio" [(ngModel)]="filtro.fechaInicio" name="fechaInicio">
        </div>
        <div class="col-md-2">
          <label for="filtroFechaFin" class="form-label">Fecha de fin:</label>
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" id="filtroFechaFin" [(ngModel)]="filtro.fechaFin" name="fechaFin">
        </div>
        <div class="col-md-1"> 
          <button class="btn btn-success" (click)="aplicarFiltro()">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center mt-2">
  <div class="col-md-11"> 
    <table class="table table-hover text-center align-middle w-100" id="tablaEquipos">
  <thead> 
    <tr class="table-primary  text-center align-middle">
      <th scope="row">Entregó</th>
      <th scope="row">Unidad</th>
      <th scope="row">Prioridad</th> 
      <th scope="row">Serie</th>
      <th scope="row">Descripción</th>
      <th scope="row">Recibió</th>
      <th scope="row">Recepción</th>
      <th scope="row">Días</th>      
      <th scope="row">Estado</th> 
      <th scope="row">Detalles</th> 
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let equipo of equiposPaginados; let i = index" [class.table-light]="i % 2 !== 0"> 
      <td>{{ equipo.nombreEntrega }}</td>
      <td>{{ equipo.unidadEntrega }}</td>
      <td [ngClass]="{ 
        'prioridad-ordinario': equipo.prioridad === 'Ordinario', 
        'prioridad-urgente': equipo.prioridad === 'Urgente', 
        'prioridad-extraurgente': equipo.prioridad === 'Extraurgente'}">
      {{ equipo.prioridad }}</td> 
      <td>{{ equipo.serie }}</td>
      <td>{{ equipo.descripcion }}</td>
      <td>{{ equipo.nombreRecibe }}</td>
      <td>{{ equipo.fechaRecepcion }}</td>
      <td [ngClass]="{
        'dias-verde': calcularDiasDiferencia(equipo.fechaRecepcion) <= 15,
        'dias-naranja': calcularDiasDiferencia(equipo.fechaRecepcion) > 15 && calcularDiasDiferencia(equipo.fechaRecepcion) <= 30,
        'dias-rojo': calcularDiasDiferencia(equipo.fechaRecepcion) > 30
        }">
        {{ calcularDiasDiferencia(equipo.fechaRecepcion) }}
      </td>
      <td>
        <span [ngClass]="{
          'estado-almacen': equipo.estado === 'Almacén',
          'estado-mantenimiento': equipo.estado === 'Mantenimiento',
          'estado-reparado': equipo.estado === 'Reparado',
          'estado-baja': equipo.estado === 'Baja'
          }">
          {{ equipo.estado }}
        </span>
      </td> 
      <td><button class="btn btn-link boton-pequenio" (click)="verDetalles(equipo.serie)">Ver</button
      ></td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
</div> 