.prioridad-ordinario {
  color: green; 
  font-weight: bold; 
}

.prioridad-urgente {
  color: orange; 
  font-weight: bold; 
}

.prioridad-extraurgente {
  color: red; 
  font-weight: bold; 
}

  td {
    font-size: 12.5px;
  }


