.prioridad-ordinario {
  color: green; 
  font-weight: bold; 
}

.prioridad-urgente {
  color: orange; 
  font-weight: bold; 
}

.prioridad-extraurgente {
  color: red; 
  font-weight: bold; 
}

  td {
    font-size: 11px;
  }

  th {
    font-size: 11px;
  }

  .dias-verde { color: green; 
  }
  
  .dias-naranja { color: orange; 
  }
  
  .dias-rojo { color: red; 
  }


