<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav"> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menú</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="navegarAFormulario()">Regresar al Formulario</a>
            <a class="dropdown-item" (click)="cambiarTema()">Tema</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
          </div>
        </li>
        <div class="d-flex">
          <input type="text" class="form-control me-sm-2" placeholder="Buscar equipo..." [(ngModel)]="textoBusqueda">
          <button class="btn btn-primary" (click)="buscarEquipo()">Buscar</button>
        </div>
      </ul> 
    </div>
  </div>
</nav>

<div class="container mt-6"> 
  <h2> <p class="text-center"><strong>Lista de Equipos Registrados</strong></p></h2>
  <table class="table table-hover table-bordered text-center align-middle"> 
    <thead> 
      <tr class="table-primary text-center align-middle">
        <th scope="row">Nombre de Entrega</th>
        <th scope="row">Unidad de Entrega</th>
        <th scope="row">Serie</th>
        <th scope="row">Descripción</th>
        <th scope="row">Fecha de Ministración</th>
        <th scope="row">Nombre de Recibe</th>
        <th scope="row">Fecha de Recepción</th>
        <th scope="row">Prioridad</th> 
        <th scope="row">Detalles</th> 
      </tr>
    </thead>
 
    <tbody>
      <tr *ngFor="let equipo of equipos"> 
        <td>{{ equipo.nombreEntrega }}</td>
        <td>{{ equipo.unidadEntrega }}</td>
        <td>{{ equipo.serie }}</td>
        <td>{{ equipo.descripcion }}</td>
        <td>{{ equipo.fechaMinistracion }}</td>
        <td>{{ equipo.nombreRecibe }}</td>
        <td>{{ equipo.fechaRecepcion }}</td>
        <td>{{ equipo.prioridad }}</td> 
        <td><button class="btn btn-outline-info btn-sm" (click)="verDetalles(equipo.serie)">Ver</button></td>
      </tr>
    </tbody>
  </table>
</div>
