<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand">Equipos Registrados</span> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navegarAFormulario()">Regresar al Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="cambiarTema()">Tema</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" (click)="cerrarSesion()">Cerrar Sesión</a>
        </li> 

      </ul> 
      <div class="d-flex">
        <input type="text" class="form-control me-sm-2" placeholder="Buscar equipo..." [(ngModel)]="textoBusqueda">
        <button class="btn btn-primary" (click)="buscarEquipo()">Buscar</button>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-6"> 
  <h3> <p class="text-info"><strong>Registro</strong></p> </h3>
 
  <table class="table table-hover table-bordered"> 

    
    <thead>
      <tr class="table-success text-center">
        // ... otras columnas
        <th scope="row">Estado</th>
        <th scope="row">Observaciones</th>
        <th scope="row">Reparado por</th>
        <th scope="row">Anotaciones</th>
        <th scope="row">Datos</th>
        <th scope="row">Detalles</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipo of equipos"> 
        // ... otras columnas
        <td>{{ equipo.estado }}</td>
        <td>{{ equipo.observaciones }}</td>
        <td>{{ equipo.reparadoPor }}</td>
        <td>{{ equipo.anotaciones }}</td>
        <td>{{ equipo.datos }}</td>
        <td><button class="btn btn-info" (click)="verDetalles(equipo.serie)">Ver más</button></td>
        
      </tr>
    </tbody>
