<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto"> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menú</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="navegarAVisualizacion()">Equipos Registrados</a>
            <a class="dropdown-item" (click)="limpiarFormulario()">Limpiar Formulario</a>
            <a class="dropdown-item" (click)="cambiarTema()">Tema Claro/Oscuro</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
          </div>
        </li>
      </ul> 
    </div>
  </div>
</nav>

<div class="container mt-1">
  <h2> <p class="text-center"><strong>Registro de Equipos</strong></p></h2>
  <h3> <p class="text-info"><strong>Usuario que entrega</strong></p></h3>
  
  <div class="mb-0">
    <label for="nombreEntrega" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="nombreEntrega" name="nombreEntrega" required [(ngModel)]="nombreEntrega"> 
  </div>
  
  <div class="mb-0">
    <label for="unidadEntrega" class="form-label">Unidad:</label>
    <input type="text" class="form-control" id="unidadEntrega" name="unidadEntrega" required [(ngModel)]="unidadEntrega"> 
  </div>

  <h3> <p class="text-info"><strong>Equipo que se recepciona</strong> </p> </h3>
  
  <div class="mb-0">
    <label for="serie" class="form-label">Serie:</label>
    <input type="text" class="form-control" id="serie" name="serie" required [(ngModel)]="serie"> 
  </div>
  
  <div class="mb-0">
    <label for="descripcion" class="form-label">Descripción:</label>
    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" [(ngModel)]="descripcion"></textarea> 
  </div>
  
  <div class="mb-0">
    <label for="fechaMinistracion" class="form-label">Fecha de ministración:</label>
    <input type="date" class="form-control" id="fechaMinistracion" name="fechaMinistracion" [(ngModel)]="fechaMinistracion"> 
  </div>

  <h3> <p class="text-info"><strong>Usuario que recibe</strong> </p> </h3>
  
  <div class="mb-0">
    <label for="nombreRecibe" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="nombreRecibe" name="nombreRecibe" required [(ngModel)]="nombreRecibe"> 
  </div>
  
  <div class="mb-0">
    <label for="fechaRecepcion" class="form-label">Fecha de recepción:</label>
    <input type="date" class="form-control" id="fechaRecepcion" name="fechaRecepcion" [(ngModel)]="fechaRecepcion"> 
  </div>
  
  <div class="mb-0">

    <label class="form-label">Prioridad:</label>
      
    <div class="form-check">
      <input class="form-check-input" type="radio" name="prioridad" value="Ordinario" id="ordinario" [(ngModel)]="prioridad">
      <label class="form-check-label text-success" for="ordinario">
        Ordinario
        </label>
    </div>
      
    <div class="form-check">
      <input class="form-check-input" type="radio" name="prioridad" value="Urgente" id="urgente" [(ngModel)]="prioridad">
      <label class="form-check-label text-warning" for="urgente">
        Urgente
    </label>
    </div>
    
    <div class="form-check">
      <input class="form-check-input" type="radio" name="prioridad" value="Extraurgente" id="extraurgente" [(ngModel)]="prioridad">
      <label class="form-check-label text-danger" for="extraurgente">
        Extra-Urgente
      </label>
    </div>
    <p></p>
    <p></p>
    <button type="button" class="btn btn-outline-info btn-sm text-center" (click)="onSubmit()">Enviar</button>

  </div>
</div>

